
%header#header
  %nav
    %ul.wrapper
      %li= link_to "VnG", "#vng"
      %li= link_to "Itinerary", "#itinerary"
      %li= link_to "Dress", "#dresscode"
      %li= link_to "Venue", "#venue"
      %li= link_to "Lodging", "#lodging"
      %li= link_to "Menu", "#menu"
      %li= link_to "Registry", "#registry"
      %li= link_to "Countdown", "#rsvp"
