%section#content.wrapper

  #vng
    %h1 Vivienne & Glenn
    %p.date Sunday, 16 December 2012
    .bride.left
      
      = img "../images/vivi.jpg", :alt => "Vivianne, The Bride", :title => "Vivianne Walsh"
      %h2 The Bride
    .groom.right
      
      = img "../images/glenn.jpg", :alt => "Glenn, The Groom", :title => "Glenn Roberts"
      %h2 The Groom
    
  = partial('../partials/itinerary')
  = partial('../partials/venue')
  = partial('../partials/lodging')
  = partial('../partials/menu')
  = partial('../partials/reception')
  = partial('../partials/rsvp')
