%section#content.wrapper

  #vng
    %h1 Vivienne & Glenn
    %p.date Sunday, 16 December 2012
    = img "../images/vng3.jpg", :alt => "Vivianne, The Bride", :title => "Vivianne Walsh"
    
  = partial('../partials/itinerary')
  = partial('../partials/venue')
  = partial('../partials/lodging')
  = partial('../partials/menu')
  = partial('../partials/reception')
  = partial('../partials/rsvp')
