%section#content.wrapper

  #vng
    %h1 Vivienne & Glenn
    %p.date Sunday, 16 December 2012
    = img "../images/vng3.jpg", :alt => "Vivi and Glenn", :title => "Vivi and Glenn"

  = partial('../partials/itinerary')
  = partial('../partials/dress')
  = partial('../partials/venue')
  = partial('../partials/lodging')
  = partial('../partials/menu')
  = partial('../partials/registry')
  = partial('../partials/rsvp')
