#itinerary.block
  %h2 Itinerary
  %p.slim Our wedding is on a long weekend, so we’d love you to come and spend the whole weekend with us. When RSVP-ing, you will be asked to select one of the following options.

  %table
    %thead
      %tr
        %th{:colspan => "2"}
        %th
          Option 1
          %span R200 ($24)
        %th
          Option 2
          %span R100 ($12)
        %th
          Option 3
          %span n/a

    %tbody

      %tr.day
        %td{:colspan => "100"} Saturday 15 December

      %tr
        %td.time 1400
        %td River Cruise & Wine Tasting at Viljoensdrift *
        %td= img "../images/check.png"
        %td{:colspan=>"2"}

      %tr
        %td.time 1800
        %td Braai at Lords Guest Lodge **
        %td= img "../images/check.png"
        %td= img "../images/check.png"
        %td

      %tr.day
        %td{:colspan => "100"} Sunday, 16 December 2012

      %tr
        %td.time 1600
        %td Gather at Lords Guest Lodge for Wedding Ceremony ***
        %td= img "../images/check.png"
        %td= img "../images/check.png"
        %td= img "../images/check.png"

      %tr
        %td.time 1830
        %td Reception at Lords Guest Lodge ****
        %td= img "../images/check.png"
        %td= img "../images/check.png"
        %td= img "../images/check.png"

      %tr.calendar
        %td{:colspan => "2"}
        %td= img "../images/calendar.png"
        %td= img "../images/calendar.png"
        %td= img "../images/calendar.png"

      %tr.smallprint
        %td{:colspan => "2"}
          %p * Some wine included.
          %p ** Food and beer provided.
        %td{:colspan => "3"}
          %p *** Clothing mandatory
          %p **** Breakdancing permitted
