#itinerary.block
  %h2 Itinerary
  %p.slim Our wedding is on a long weekend, so we’d love you to come and spend the whole weekend with us. When RSVP-ing, you will be asked to select one of the following options:

  %table
    %thead
      %tr
        %th{:colspan => "2"}
        %th
          Option 1
          %span R200 ($24)
        %th
          Option 2
          %span R100 ($12)
        %th
          Option 3
          %span n/a

    %tbody

      %tr.day
        %td{:colspan => "100"} Saturday 15 December

      %tr
        %td.time 1330
        %td
          ⇧Shuttle Pick Up: McGregor pub on Voortrekker Rd. 1330 Sharp!
          %br
          River Cruise & Wine Tasting at
          = link_to "Viljoensdrift", "http://www.viljoensdrift.co.za/riverside-experiences.html", :target => '_blank'
          *
        %td= img "../images/check.png"
        %td{:colspan=>"2"}

      %tr
        %td.time 1700
        %td
          ⇧Shuttle Pick Up: Viljoensdrift
          %br
          Swim, relax, drink at Lords Guest Lodge

        %td= img "../images/check.png"
        %td= img "../images/check.png"
        %td

      %tr
        %td.time 1800
        %td
          Braai at Lords Guest Lodge **
          %br
          (no shuttle pickup from McGregor to Lords)
          %br
          ⇩Shuttle Drop Off: At your BnB in McGregor
        %td= img "../images/check.png"
        %td= img "../images/check.png"
        %td

      %tr.day
        %td{:colspan => "100"} Sunday, 16 December 2012

      %tr
        %td.time 1530
        %td
          ⇧Shuttle Pick Up: McGregor pub on Voortrekker Rd.
          %br
          Gather at Lords Guest Lodge for Wedding Ceremony ***
        %td= img "../images/check.png"
        %td= img "../images/check.png"
        %td= img "../images/check.png"

      %tr
        %td.time 1630
        %td
          Wedding Ceremony.
        %td= img "../images/check.png"
        %td= img "../images/check.png"
        %td= img "../images/check.png"

      %tr
        %td.time 1700
        %td
          Champagne. Bocce. Frolicking. Photos.
        %td= img "../images/check.png"
        %td= img "../images/check.png"
        %td= img "../images/check.png"

      %tr
        %td.time 1830
        %td
          Reception at Lords Guest Lodge **** ***** ******
          %br
          ⇩Shuttle Drop Off: At your BnB in McGregor : 0100hrs.
          %br
          (You can take earlier shuttle at your own expense.)
        %td= img "../images/check.png"
        %td= img "../images/check.png"
        %td= img "../images/check.png"

      %tr.calendar
        %td{:colspan => "2"}
        %td= link_to img("../images/calendar.png"), "../ics/1.ics", :title => "Add option 1 your calendar"
        %td= link_to img("../images/calendar.png"), "../ics/2.ics", :title => "Add option 2 your calendar"
        %td= link_to img("../images/calendar.png"), "../ics/3.ics", :title => "Add our wedding your calendar"

      %tr.smallprint
        %td{:colspan => "2"}
          %p * Some wine included.
          %p ** Food and beer provided.
          %p *** Clothing mandatory
        %td{:colspan => "3"}
          %p **** Breakdancing permitted
          %p ***** Cash bar. Some beer and wine provided
          %p ****** Glenn will not do funnels.
