#menu.block
  %h2 Menu
  
  %h3 Starter
  %ul
    %li
      = img "../images/lamb.png"
      %h4 Calamari
      %p Tender calamari strips prepared in breadcrumbs served with a homemade tartar sauce & lemongrass rice
      %p.info *if you are a non-seafood eating, veggie, tree hugging hippie, or are simply allergic to calamari please indicate so on your RSVP.
  
  %h3 Mains
  %ul
    %li.half
      = img "../images/lamb.png"
      %h4 Chicken Supreme
      %p Supreme cut chicken stuffed with blue cheese & basil pesto, mushroom, leek & parmesan served with risotto, baby marrow & wilted spinach. Served with seasonal vegetables.
    %li.half
      = img "../images/lamb.png"
      %h4 Lamb Shank
      %p Roast lamb shank infused with garlic, oreganum & spice, served with fresh mint mash & seasonal vegetables.
    %li.half
      = img "../images/lamb.png"
      %h4 Norwegian Salmon
      %p Pan fried Norwegian salmon dressed with creamy chardonnay, leek & Parmesan sauce on Pasta Verde.
    %li.half
      = img "../images/lamb.png"
      %h4 Melanzane
      %p Layers of grilled aubergine with rich neopolitana sauce, mozzarella & Italian Parmesan with fresh baby marrow & cherry tomatoes, oven baked & served with bruschetta.
  
  %h3 Desert
  %ul
    %li
      = img "../images/lamb.png"
      %h4 Poached Rhino, er Pear.
      %p Poached pear in red wine sauce, pecan nuts with cream.
